@model ChajdPizzaWebApp.Models.OrderDetail

@{
    ViewData["Title"] = "PizzaConfirmation";
}

<h1>Confirmation</h1>

<div>
    <h4>Your pizza has been added to your order!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToppingsSelected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToppingsSelected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialRequest)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
